.cabecalho{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
}


.cabecalho-imagem{
    width: 20%;
    margin: 0 -50px;

}
.cabecalho-item1{
    display: inline-block;
    margin: 0 20px;
}

.cabecalho-item2{
    display: inline-block;
    margin: 0 20px;
}