.cabecalho{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
}


.cabecalho-imagem{
    width: 20%;
    margin: 0 -400px;

}
.cabecalho-item{
    display: inline-block;
    margin: 0 -200px;
}