.cabecalho{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
}


.cabecalho-imagem{
    width: 20%;

}
.cabecalho-item1{
    display: inline-block;
    margin: 0 30px;
}